.ticketsales {
	align-items: center;
	justify-content: center;
	border: transparent;
	text-decoration-color: beige; 
	padding: 8%;
	background: linear-gradient(rgba(71, 69, 69, 0.5), rgba(73, 72, 72, 0.5));
	width: 21%;
	border-radius: 25px;


	

}

body{
	background-repeat: no-repeat;
	background-size: 1300px 800px; 

}